orangeark
config.h
*.gresource.*
data/orangeark.1.gz
data/net.giuspen.orangeark.metainfo.xml
scripts/orangeark_nolatex.iss
obj-x86_64-linux-gnu
debian/autoreconf.after
debian/autoreconf.before
debian/orangeark.debhelper.log
debian/files
build
*.mo
.vscode/settings.json
.flatpak-builder
build_output*.txt
Screenshot_*.png
.claude
cmake_test_discovery_*.json
